div {
    img{
        border-style: solid;
        border-width: 3px;
        border-color:black;
        margin-right: 25px;
    }
    background-image:url(https://static.vecteezy.com/system/resources/previews/007/331/379/original/wood-texture-planks-horizontal-patterns-light-brown-color-design-background-vector.jpg);
    background-size:cover;
    padding-bottom: 55px;
}